{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">
<body>

<div class="ingredient-grid">
    {% for meal in favorite_meals %}
    <div class="ingredient-item">
        <a href="{% url 'meal_detail' meal_id=meal.meal.id %}">
            <img class="images" src="{{ MEDIA_URL }}{{ meal.meal.picture.url }}">
            <div class="category-name">{{ meal.meal.name }}</div>
        </a>
    </div>
{% endfor %}
</div>

</body>
{% endblock %}