{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<body>

{% if category %}
<h1 style="margin-left: 25px;">{{ category }}</h1>
{% elif request.path == '/random_meal/' %}
<h1 style="margin-left: 25px;">Try this!</h1>
{% elif request.path == '/random_favorite/' %}
<h1 style="margin-left: 25px;">One of your favorites</h1>
{% else %}
<h1 style="margin-left: 25px;">All meals</h1>
{% endif %}

<div class="ingredient-grid">
    {% for meal in meals %}
    <div class="ingredient-item">
        <div class="image-container">
        <a href="{% url 'meal_detail' meal_id=meal.id %}">
                <img class="images" src="{{ MEDIA_URL }}{{ meal.picture.url }}">
                <a href="{% url 'create_favorite_meal' meal_id=meal.id %}" class="trash-icon">
                    <i style="color: red;" class="fa fa-heart"></i>
                </a>
            </div>
            <div class="category-name">{{ meal.name }}</div>

</div>
    {% endfor %}



</div>

</body>
{% endblock %}