{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">
<body>
<h1 style="margin-left: 25px;">Categories of ingredients</h1>
    <div class="ingredient-grid">
      {% for category in ingredient_category %}
        <div class="ingredient-item">
          <a href="{% url 'ingredients' category.id %}">
            <img class="images" src="{{ MEDIA_URL }}{{ category.picture.url }}">
            <div class="category-name">{{ category.name }}</div>
          </a>
        </div>
      {% endfor %}
    </div>
</body>
{% endblock %}