{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<style>
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin-bottom: 10px;
    }

    .search {
      color: #333;
      text-decoration: none;
      font-size: 20px;
      margin-left: 20px;
    }

    .search:hover {
      text-decoration: underline;
    }
</style>
<body>

  <h1 style="margin-left: 20px;">Meals containing:</h1>

    {% for ingredient in ingredients %}
      <div>
        <a class="search" href="{% url 'filtered_meals_by_ingredient' ingredient_id=ingredient.id %}">{{ ingredient.name }}</a>
      </div>
    {% endfor %}


</body>
{% endblock %}